GEYSER_GRPC_URL=http://127.0.0.1:10000
GEYSER_GRPC_AUTH=
COMMITMENT=confirmed
PROGRAM_PUMPFUN=6EF8rrecthR5Dkzon8Nwu78hRvfCKubJ14M5uBEwF6P
PROGRAM_PUMPSWAP=pAMMBay6oceH9fJKBRHGP5D4bD4sWpmSwMn52FMfXEA
IDL_PUMPFUN_PATH=idl/pumpfun.json
IDL_PUMPSWAP_PATH=idl/pumpswap.json
OUTPUT=pretty
RECONNECT_BASE_MS=500
RECONNECT_MAX_MS=10000
CHANNEL_CAP=1024
